In [11]:
import pandas

In [12]:
data=pandas.read_csv(r"D:\Classes\Python\House Price Prediction Project\Data\Housing.csv")
data

,price,area,bedrooms,bathrooms,mainroad,guestroom,hotwaterheating,airconditioning,parking,prefarea
0,13300000,7420,4,2,yes,no,no,yes,2,yes
1,12250000,8960,4,4,yes,no,no,yes,3,no
2,12250000,9960,3,2,yes,no,no,no,2,yes
3,12215000,7500,4,2,yes,no,no,yes,3,yes
4,11410000,7420,4,1,yes,yes,no,yes,2,no
...,...,...,...,...,...,...,...,...,...,...
540,1820000,3000,2,1,yes,no,no,no,2,no
541,1767150,2400,3,1,no,no,no,no,0,no
542,1750000,3620,2,1,yes,no,no,no,0,no
543,1750000,2910,3,1,no,no,no,no,0,no
544,1750000,3850,3,1,yes,no,no,no,0,no

In [13]:
data.columns

Index(['price', 'area', 'bedrooms', 'bathrooms', 'mainroad', 'guestroom',
       'hotwaterheating', 'airconditioning', 'parking', 'prefarea'],
      dtype='object')

In [14]:
for i in ["mainroad","guestroom","hotwaterheating","airconditioning","prefarea"]:
    data[i]=data[i].map({"yes":1,"no":0})

In [15]:
data

,price,area,bedrooms,bathrooms,mainroad,guestroom,hotwaterheating,airconditioning,parking,prefarea
0,13300000,7420,4,2,1,0,0,1,2,1
1,12250000,8960,4,4,1,0,0,1,3,0
2,12250000,9960,3,2,1,0,0,0,2,1
3,12215000,7500,4,2,1,0,0,1,3,1
4,11410000,7420,4,1,1,1,0,1,2,0
...,...,...,...,...,...,...,...,...,...,...
540,1820000,3000,2,1,1,0,0,0,2,0
541,1767150,2400,3,1,0,0,0,0,0,0
542,1750000,3620,2,1,1,0,0,0,0,0
543,1750000,2910,3,1,0,0,0,0,0,0
544,1750000,3850,3,1,1,0,0,0,0,0

In [16]:
from sklearn import linear_model
mymodel=linear_model.LinearRegression()

In [17]:
X=data[["area","bedrooms","bathrooms","mainroad","guestroom","hotwaterheating","airconditioning","parking","prefarea"]]
y=data["price"]

In [18]:
mymodel.fit(X,y)

LinearRegression()

In [19]:
#["area","bedrooms","bathrooms","mainroad","guestroom","hotwaterheating","airconditioning","parking","prefarea"]
mymodel.predict([[5000,3,2,1,0,0,1,2,1]])

c:\Users\Rakesh\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([7169887.2629145])

In [20]:
import pickle
pickle.dump(mymodel,open("Model.sav","wb"))

In [21]:
import pickle
model=pickle.load(open("Model.sav","rb"))

In [22]:
model.predict([[9000,3,2,1,0,0,1,2,1]])

c:\Users\Rakesh\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([8102452.78294656])